<!DOCTYPE html>
<html>
{% include '_head_template.html' %}
<body>
    <h1>Lista de Documentos</h1>

    {% include '_messages.html' %}

    {% if documents %}
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Ubicación</th>
                <th>Dueño</th>
                <th>Visibilidad</th>
            </tr>
            {% for doc in documents %}
                <tr>
                    <td>{{ doc.id_document }}</td>
                    <td>{{ doc.file_name }}</td>
                    <td>{{ doc.parent_name }}</td>
                    <td>{{ doc.owner_email }}</td>
                    <td>{{ doc.visibility }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No se encontraron documentos.</p>
    {% endif %}

    {% include '_action-buttons.html' %}
</body>
</html>